<html>
<head>

  <link rel="stylesheet" type="text/css" href="jquery-background-video/jquery.background-video.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="jquery-background-video/jquery.background-video.js"></script>
</head>
<body>

<h1>About Us</h1>

<p>At United Way of the Brazos Valley, we are committed to building a stronger community.
We believe in the power of community and that if we all work together, we make a greater impact than if we try to do it alone.
We help people learn, grow, aspire, and live their best lives. We work to achieve Bold Goals for our region in the areas of education,
financial stability and health that will advance the common good for all in our community.More than 5,000 donors, advocates, and volunteers are already part of our movement – and
we’re growing every day. You can join us. We have something for everyone – opportunities to support a cause close to your heart and improve our community for everyone. Get involved today!</p>
</body>
</html>
