<%= stylesheet_link_tag 'applicant_apply_job' %>
<div class="panel panel-default col-xs-6 col-xs-offset-3" id="profiledetails">
  <div class="panel-heading">
    <h3 class="panel-title">Profile details</h3>
  </div>
<%= form_for @applicant, :url => pages_applicant_show_questions_path(:job_id => @job.id) do |applicant| %>
  <%= applicant.fields_for :applicantdetails do |fa| %>
    <% if @job.jobtype == "Internship" %>
      <% render partial: "internshipapplication", :locals => {:fa => fa} %>
    <% elsif @job.jobtype == "Paid Employment" %>
      <% render partial: "paidemploymentapplication", :locals => {:fa => fa} %>
    <% else %>
      <% render partial: "volunteerapplication", :locals => {:fa => fa} %>
    <% end %>
  <% end %>
<div class="actions">
  <%= applicant.submit "Next", class:"btn btn-primary" %>
</div>
<% end %>
</div>
