<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
      <h1 class="wow fadeIn" data-wow-delay="0.2s"> Welcome to UWBV Careers</h1>
      <h3 class="wow fadeIn" data-wow-delay="0.8s">VOLUNTEER.                IMPACT.                CREATE.</h3>
      <ul class="list-inline wow fadeIn" data-wow-delay="1s">
        <li><%= link_to "Join Us", new_user_session_path, class:"btn btn-primary btn-lg" %></li>
      </div>
    </div>
  </div>
</div>
<!--END HEADER -->

<!--About-->

<div class="about" id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1>Our Values</h1>
        <br/><br/>
        <div class="row">
			<div class="col-lg-12 col-md-12">
				<ul class="list-inline">
					<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="wow fadeIn" data-wow-delay="1.5">Integrity</p></li>
					<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="wow fadeIn" data-wow-delay="1.7">Excellence</p></li>
					<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="wow fadeIn" data-wow-delay="1.9">Accountability</p></li>
					<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6"><p class="wow fadeIn" data-wow-delay="2.1">Innovation</p></li>
				</ul>
      </div>
      </div>
      <br/><br/></br>
    <div class="row">
    <div class="col-lg-12 col-md-12 col-lg-offset-2 col-md-offset-2">
      <ul class="list-inline">
        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8"><p class="wow fadeIn" data-wow-delay="2.3">Leadership</p></li>
        <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8"><p class="wow fadeIn" data-wow-delay="2.5">Selfless Service</p></li>
      </ul>
    </div>
    </div>
</br><br/>
    <h2 class="wow flipInX" data-wow-delay="0.3s">YOU can help build a stronger community!</h2>

    </div>
  </div>
</div>

<!-- Review -->

<div class="reviews" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="wow flipInX">Our Testimonials</h1>
        <h3>Here's what our employees have to say..</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="0.4s">
        <blockquote><img src="/img/kami.jpg" class="img-circle"/><p class="reviewspara">As a Human Resource Support Intern, I had a wonderful summer at United Way of the Brazos Valley working together with a group of brilliant people that strives to build a stronger community. I worked on three projects during the summer: Employee Benefits Study, New-Hire Orientation, and the development of an internship cohort program. I had the opportunity to learn about nonprofit management and operation by exposure to organizational documents, committee meetings, and conversation with managers from different departments. I appreciate the coaching and feedback from Alison on a lot of different subjects, and also thank for Brenda for training me on general HR duties.
          It was a valuable learning experience.</p><footer>Kami Xiong, <cite>Texas A&M University</cite></footer></blockquote>
      </div>
      <div class="col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0.8s">
        <blockquote><img src="/img/Selena.png" class="img-circle"/><p class="reviewspara">My internship experience with UWBV was phenomenal and provided me more work experience than my previous internships. As the Resource Development Intern, I was able to learn how to properly engage and recognize donors and other fundraising and campaign strategies. Not only did I learn a lot, but I enjoyed the UWBV team and their constant wisdom and encouragement. I always felt as though I could ask questions and that I was valued as an intern. To anyone deciding which internship experience to have before entering in to the professional world, I recommend working with United Way. While many may think it is "just" a nonprofit, I learned valuable business skills that I've been able to take with me in to my new career-
          and my internship solidified my passion for development!</p><footer>Selena Richey, <cite>Kids Matter International</cite></footer></blockquote>
      </div>
    </div>
  </div>
</div>
<!--End Reviews-->
<!-- CONTACT -->

	<div class="contact" id="contactus">
		<div class="container">

			<div class="row">
			<div class="col-lg-12 col-md-12">
				<h1>CONTACT US</h1>
				<p>Connect with us via:</p>

				<ul class="list-inline">
					<li><a href="https://www.facebook.com/unitedwaybv" target="blank"><i class="fa fa-facebook-official fa-4x wow fadeIn" data-wow-delay="0.4s" ></i></a></li>
					<li><a href="https://twitter.com/UWBV" target="blank"><i class="fa fa-twitter-square fa-4x wow fadeIn" data-wow-delay="0.6s"></i></a></li>
					<li><a href="https://vimeo.com/album/3549042" target="blank"><i class="fa fa-vimeo-square fa-4x wow fadeIn" data-wow-delay="0.8s"></i></a></li>
				</ul>

			</div>
			</div>

			<div class="row">
			<div class="col-lg-12 col-md-12">
				<p>Or connect with us via the information below</p>

				<ul class="list-inline">
					<li><i class="fa fa-map-marker"></i> 909 Southwest Pkwy E, College Station, TX 77840 </li>
					<li><i class="fa fa-phone"></i> (979)-696-4483</li>
					<li><i class="fa fa-envelope-o"></i> <a href="mailto:info@uwbv.org">info@uwbv.org</a></li>
				</ul>

			</div>
			</div>

		</div>
	</div>

	<!-- END CONTACT -->

<!--Footer-->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3>UWBV</h3>
        <h4>Since 2015</h4>
        <h4><em>Creating measureable impact throughout the community.</em></h4>
      </div>

      <div class="col-lg-4 col-md-4">
        <h3>GET IN TOUCH!</h3>
        <h4><i class="fa fa-phone"></i> (979)-696-4483</h4>
        <h4><i class="fa fa-envelope-o"></i><a href="mailto:contact@uwbv.org">contact@uwbv.org</a></h4>
      </div>


      <div class="col-lg-4 col-md-4">
        <h3>ABOUT US</h3>
        <h4>Creating measureable impact throughout the community.</h4>
        <h4>UWBV &copy; 2015</h4>
        </div>
    </div>

<!--End footer-->
