<h1>Thank you for applying to our internship program at UWBV.</h1>
<h2> What's next?</h2>
<p> We will now carefully evaluate your application and get back to you at the earliest if
  your skills are a match to this position.
</p>
